.App {
	margin: 0;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.form-buah {
	margin: 100px auto;
	border: 1px solid #000;
	width: 50%;
	padding: 20px;
	border-radius: 10px;
}

.form-buah h1 {
	text-align: center;
}

.form-buah tr td {
	padding-top: 15px;
}

.form-buah tr td:nth-child(1) {
	font-weight: bold;
	width: 200px;
}

.tabel-buah h1 {
	text-align: center;
}

.tabel-buah table {
	width: 50%;
	margin: 30px auto;
}

.tabel-buah table tr {
	background-color: #f08a5d;
}

.tabel-buah table tr:nth-child(1) {
	text-align: center;
	font-weight: bold;
	background-color: #ccc !important;
}

.tabel-buah table {
	border: 1px solid #000;
}

.peserta {
	width: 50%;
	margin: 200px auto;
}

.peserta table {
	border-collapse: collapse;
	width: 100%;
}

.peserta th,
.peserta td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.hargaBuah h1 {
	text-align: center;
}

.hargaBuah th,
td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.hargaBuah table {
	border-collapse: collapse;
	width: 50%;
	margin: 0 auto;
}

.hargaBuah form {
	text-align: center;
}

.hargaBuah label {
	font-weight: bold;
	margin-right: 10px;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
